body {
  padding: 0 16px;
  margin-top: 0;
  font-family: 'Noto Sans', sans-serif;
  color: rgb(39, 39, 39);
}

.pozadi-uvod {
  width: calc(100% + 96px);
  position: relative;
  z-index: -1;
  margin-left: -24px;
}

.profilove-foto {
  position: absolute;
  top: 0;
  left: calc(20% - 18px);
  width: 60%;
  border-radius: 50%;
  padding: 16px;
}

.fotogalerie-grid {
  display: grid;
  grid-template-columns: auto;
  position: relative;
  left: 15%;
}

.galerie-foto {
  width: 70%;
}

.foto {
  width: 100%;
}

.psi-odkaz-img {
  padding-right: 4px;
  width: 20px;
}

.navigace, .ikonky-kontakt {
  display: none;
}

.menu-img {
  position: absolute;
  top: 12px;
  right: 2%;
  width: 8%;
  max-width: 42px;
}

a {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
}

.kontakt-sekce > a {
  padding: 4px 0;
  display: flex;
  width: fit-content;
}

.kontakt-sekce > a > div > img {
  width: 22px;
  margin-right: 8px;
}

footer {
  height: 39px;
}

.paticka {
  margin: 24px 0 0 -24px;
  padding: 10px;
  width: calc(100% + 28px);
  background-color: rgb(9, 57, 40);
  color: whitesmoke;
  text-align: center;
  font-size: 14px;
}

.paticka-kontakt {
  display: none;
}

@media (min-width: 576px) {
  .profilove-foto {
    position: relative;
    width: 220px;
    top: -340px;
    left: -16px;
  }

  h1 {
    position: relative;
    top: -340px;
    color: whitesmoke;
    font-family: 'Codystar', cursive;
    font-size: 2.2rem;
    margin: 0;
  }

  #o-mne {
    margin-top: -280px;
  }
}

@media (min-width: 786px) {
  h1 {
    font-size: 2.6rem;
  }

  .fotogalerie-grid {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    left: 13%;
    width: 74%;
  }

  .galerie-foto {
    width: auto;
  }
  
  .navigace {
    display: flex;
    font-weight: 500;
  }

  .navigace, .navigace:visited {
    color: rgb(39, 39, 39);
  }

  .nav-profilovka {
    height: 46px;
    padding: 6px 16px 2px 0;
  }

  .menu-img {
    display: none;
  }

  .uvod-div {
    margin: 0 -24px;
    display: grid;
    grid-template-columns: calc(100%- 230px) 230px;
    grid-template-rows: 1fr;
  }

  .pozadi-picture {
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: -1;
  }

  .pozadi-uvod {
    margin-left: 0;
    width: 100%;
  }

  .ikonky-kontakt {
    grid-column: 2/3;
    grid-row: 1/2;
    display: block;
    background-color: rgba(255, 255, 255, 0.675);
  }

  .ikonky-kontakt > a > div {
    font-size: 13px;
    font-weight: 500;
  }

  .ikonky-kontakt > a > div:hover {
    background-color: rgb(255, 255, 255);
  }
  
  .logo-kontakt {
    width: 32px;
    padding: 8px;
    margin-left:8px;
  }

  .kontakt-box {
    display: flex;
    margin-bottom: 8px;
  }

  .kontakt-box > div {
    display: flex;
    align-items: center;
  }

  .kontakt-nadpis {
    padding: 16px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(15, 90, 62);
  }

  .navigace > a {
    text-decoration: none;
    padding: 16px;
  }

  .navigace > a:hover {
    background-color: rgb(24, 162, 112);
    color: whitesmoke;
  }

  .kontakt-sekce {
    display: none;
  }

  .paticka-kontakt {
    display: block;
    position: relative;
    right: calc(-100% + 124px);
    top: -39px;
  }

  .paticka-kontakt > a > img {
    width: 24px;
    padding: 7.5px 2px;
    opacity: 0.6;
  }

  .paticka-kontakt > a > img:hover {
    opacity: 1;
  }
}

@media (min-width: 950px) {
  h1 {
    font-size: 3rem;
    top: -390px;
  }

  .profilove-foto {
    width: 240px;
    top: -410px;
  }

  #o-mne {
    margin-top: -320px;
  }
}

@media (min-width: 1150px) {
  .fotogalerie-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    left: 8%;
    width: 84%;
  }
}