body {
  padding: 0 16px;
  margin-top: 0;
  font-family: 'Noto Sans', sans-serif;
  color: rgb(39, 39, 39);
}

.pozadi-uvod {
  width: calc(100% + 48px);
  position: relative;
  z-index: -1;
  margin-left: -24px;
}

.profilove-foto {
  position: absolute;
  top: 0;
  left: calc(20% - 16px);
  width: 60%;
  border-radius: 50%;
  padding: 16px;
}

.fotogalerie-grid {
  display: grid;
  grid-template-columns: auto;
  position: relative;
  left: 15%;
}

.galerie-foto {
  width: 70%;
}

.foto {
  width: 100%;
}

.psi-odkaz-img {
  padding-right: 4px;
  width: 20px;
}

.navigace, .rozbaleni-kontakt-ikona, .ikonky-kontakt {
  display: none;
}

.menu-img {
  position: absolute;
  top: 12px;
  right: 2%;
  width: 8%;
  max-width: 42px;
}

.paticka {
  margin-left: -24px;
  padding: 2px;
  width: calc(100% + 48px);
  background-color: darkcyan;
  text-align: center;
}

@media (min-width: 576px) {
  .profilove-foto {
    width: 40%;
  }
}

@media (min-width: 786px) {
  .profilove-foto {
    top: 0;
    left: 0%;
    width: 300px;
  }

  .fotogalerie-grid {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    left: 13%;
    width: 74%;
  }

  .galerie-foto {
    width: auto;
  }
  
  .navigace {
    display: flex;
    font-weight: 500;
  }

  .menu-img {
    display: none;
  }

  .rozbaleni-kontakt-ikona, .ikonky-kontakt {
    display: block;
    position: fixed;
  }

  .rozbaleni-kontakt-ikona {
    top: calc(50% - 21px);
    right: 90px;
    width: 24px;
  }

  .ikonky-kontakt {
    top: calc((100% - 4 * 69px) / 2);
    right: 16px;
  }
  
  .logo-kontakt {
    width: 48px;
    padding: 8px;
  }


  .navigace > a {
    text-decoration: none;
    padding: 16px;
  }

  .navigace > a:hover {
    background-color: rgb(24, 162, 112);
    color: whitesmoke;
  }
}

@media (min-width: 1150px) {
  .fotogalerie-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    left: 8%;
    width: 84%;
  }
}